<div class="login-container">
    <form #f="ngForm" (ngSubmit)="ingresar()">
        <div class="login-email">
            <label>Email: </label>
            <input type="text" name="email" [(ngModel)]="usuario.email" required/>
        </div>
        <div class="login-password">
            <label>Contraseña: </label>
            <input type="password" name="password" [(ngModel)]="usuario.contrasenia" required/>
        </div>
        <button name="btn-ingresar-login" type="submit" [disabled]="f.invalid">Ingresar</button>
    </form>
</div>


