<p>registro works!</p>
<form #f="ngForm" (ngSubmit)="registrar()">
    <div>
        <label>Nombre: </label>
        <input type="text" name = "nombre" [(ngModel)]="usuario.nombre"/>
    </div>
    <div>
        <label>Email: </label>
        <input type="text" name = "email" [(ngModel)]="usuario.email"/>
    </div>
    <div>
        <label>Dirección: </label>
        <input type="text" name = "direccion" [(ngModel)]="usuario.direccion"/>
    </div>
    <div>
        <label>Teléfono: </label>
        <input type="text" name = "telefono" [(ngModel)]="usuario.telefono"/>
    </div>
    <div>
        <label>Contraseña: </label>
        <input type="password" name = "password" [(ngModel)]="usuario.password" minlength="6"/>
    </div>
    <div>
        <label>Repetir contraseña: </label>
        <input type="password" name = "confirmarPassword" [(ngModel)]="usuario.confirmarPassword" minlength="6" required/>
    </div>
    <button type="submit" [disabled]="f.invalid || !sonIguales()" >Registrarse</button>
    <p *ngIf="!sonIguales()">Las contraseñas no coinciden</p>
</form>