<div class="inicio-container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Bienvenido a nuestro Unimarket</h1>
    </div>
  </div>
  <div class="all-products">
    <div class="row1">
      <div class="col-12">
        <div class="form-group">
          <label>Categorías:</label>
          <div *ngFor="let categoria of categorias">
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="categoria.checked" (change)="filtrarProductos()" />
              {{ categoria.nombre }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row2">
      <div class="col-12">
        <div class="card-deck">
          <div class="card" *ngFor="let producto of productos">
            <img [src]="producto.imagenes[0]" class="card-img-top" alt="Imagen del producto">
            <div class="card-body">
              <div class="margen">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="card-text">Precio: {{ producto.precio }}</p>
                <p class="card-text">
                  Categorías:
                  {{ producto.categorias }}
                </p>
              </div>

              <button class="btn btn-primary" (click)="agregarAlCarrito(producto)">
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
